@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300&display=swap');

.btnRegisterNow {
  background-color: #1C8288 !important;
  border-radius: 12px;
  color: #FFFFFF !important;
  width: 159px;
  height: 48px;
  left: 0;
  top: 0;
  margin-right: 3rem;
}

.btnLearnMore {
  color:  #1C8288 !important;
}