.navbar {
  &-logo {
    color: #1C8288 !important;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  
    align-items: center;  
  }  
}